#script-detail {
    color: #545454;
}

#more.control-option {
    width: 10em;
    position: relative;
    top: 0.5em;
}
#console-modal {
    overflow: auto;
}
.out-command {
    font-size: 1.5em;
}
.out-reply {
    color: #545454;
    font-size: 1.4em;
}
#editor {
    width: 90%;
    height: 1em;
    font-size: 3em;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
#editor-commit {
    top: -1em;
    position: relative;
    display: inline-block;
    width: 8%;
    height: 3em;
}


#auto-modal h1 {
    display: inline-block;
}